<body>
    <h1>Add Head of State</h1>

    <ul>
      <!-- No actual conditions for these two requirements-->
        <li>Country Code must be 3 characters</li>
        <li>Head of state must be at least 3 character</li>
      </ul>  

    <!-- Grabbed from lecture notes week 7-->
    <form action='/addHeadOfState' method="POST">
    <label>Country code</label>
    <input type="text" name="_id"><br>
    <label>Head of state</label>
    <input type="text" name="headOfState"><br>
    <input type="submit" value="Add">
    </form>

    <p><a href="/">Home page</a><p>
</body>